kosmos-2-patch14-224/.DS_Store
.DS_Store
.history/*
hf_tutorial/checkpoints/*
hf_tutorial/dual_model/*
hf_tutorial/data/wiki_cn_filtered/*
*.pyc
*cache-*
hf_tutorial/chatbot/*
hf_tutorial/lora/checkpoint-168/training_args.bin
hf_tutorial/lora2/*
hf_tutorial/lora0/*
hf_tutorial/llama2_lora/*
pl_tutorial/lightning_logs/*
gemini/.env
langchain/.env
